.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--light-color);
}
.links {
  display: flex;
  gap: 3em;
  list-style: none;
}
.link {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: var(--contrast);
  font-weight: 900;
}
.head-themes {
  display: flex;
  gap: 25px;
}
