._project {
  background-color: var(--bg-dark);
  padding: 20px;
  border-radius: 8px;
  user-select: none;
}
._project img {
  width: 100%;
  border-radius: 3px;
  -webkit-user-drag: none;
}
._project h1 {
  color: var(--contrast);
  margin: 15px 0;
  font-weight: 800;
  text-align: start;
}
._project p {
  margin-bottom: 20px;
  text-align: start;
}
.structures {
  display: flex;
  align-items: center;
  gap: 10px;
}
.structure {
  padding: 10px 20px;
  color: var(--norm-color);
  background-color: var(--bg-color);
  border-radius: 200px;
  cursor: url(../cursor/cross.cur), auto;
  transition: all 0.2s ease-out;
}
.structure:hover {
  transform: scale(1.1);
  color: var(--contrast);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}
.btn {
  width: 100%;
  margin: 20px 0;
  height: 50px;
  background-color: var(--bg-color);
  color: var(--norm-color);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  cursor: url(../cursor/cross.cur), auto;
}

.btn:hover {
  background-color: var(--contrast);
  color: var(--bg-dark);
}
